@model  NYBE.Models.SchoolViewModels.PendingSchoolViewModel
@{
    ViewData["Title"] = "School Requested";
}
<h2>School Requested!</h2>
<p>We recieved your request to add your school to our database!</p>
<p>An administrator will review your submission.</p>
<br />
<a asp-controller="Home" asp-action="Index" class="btn btn-default">Return Home</a>