@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h4>Please check your email to reset your password.</h4>
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
</div>
