@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h4>Your password has been reset.</h4>
    <br />
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">Log in</a>
</div>

