@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .col-md-height {
            display: table-cell;
            float: none !important;
            vertical-align: middle;
        }

        .row-same-height {
            display: table;
            width: 100%;
        }

        .icon {
            max-width: 110px;
            max-height: 110px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>


<body>
    <div class="col-md-7 col-md-height">
            <div class="row row-same-height text-center">
                <h3><strong>Exchange books quickly and efficiently with others in the Market.</strong></h3>
                <hr />
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/coins.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>Buy and sell books</strong><small> with fellow students in the Market.</small></h4>
                </div>
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/report.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>In-depth statistics</strong><small> of the books being exchanged.</small></h4>
                </div>
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/poop.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>Service so fast</strong><small> you'll s**t yourself.</small></h4>
                </div>
            </div>
    </div>
    <div class="col-md-5 col-md-height">
        <img src="~/images/NYBE.svg" style="max-width:450px; max-height:450px; width:100%; height:100%;" />
    </div>
</body>
