@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .col-md-height {
            display: table-cell;
            float: none !important;
            vertical-align: middle;
        }

        .row-same-height {
            display: table;
            width: 100%;
        }

        .icon {
            max-width: 110px;
            max-height: 110px;
            height: 100%;
            width: 100%;
        }
    </style>
</head>


<body>
    <div class="col-md-7 col-md-height">
            <div class="row row-same-height text-center">
                <h3><strong>Exchange books quickly and efficiently with others in the Market.</strong></h3>
                <hr />
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/coins.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>Buy and sell books</strong><small> with fellow students in the Market.</small></h4>
                </div>
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/report.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>In-depth statistics</strong><small> of the books being exchanged.</small></h4>
                </div>
            </div>
            <div class="row row-same-height">
                <div class="col-md-3 col-md-height">
                    <img src="~/images/poop.svg" class="icon" />
                </div>
                <div class="col-md-9 col-md-height">
                    <h4><strong>Service so fast</strong><small> you'll s**t yourself.</small></h4>
                </div>
            </div>
    </div>
    <div class="col-md-5 col-md-height">
    <img src="~/images/NYBE.svg" style="max-width:450px; max-height:450px; width:100%; height:100%;" />
    @*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/NYBE.svg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p style="color:black">
                            Learn how to build ASP.NET apps that can run anywhere.
                            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/NYBE.svg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            There are powerful new features in Visual Studio for building modern web apps.
                            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/NYBE.svg" alt="Package Management" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/NYBE.svg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
        </div>
</body>
