@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NYBE</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

    <style>
        .col-md-height {
            display: table-cell;
            float: none !important;
            vertical-align: middle;
        }

        .row-same-height {
            display: table;
            width: 100%;
        }

        .nounderline {
            text-decoration: none !important;
        }

        body { 
            padding-top: 70px; 
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row row-same-height">
                <div class="col-md-4 col-md-height">
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nounderline">
                        <h4 style="color:#4b4b4b">
                            <img src="~/images/NYBE.svg" width="10%" height="10%" />
                            NYBE
                        </h4>
                    </a>

                </div>
                <div class="col-md-4 col-md-height">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Books">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">Go!</button>
                            </span>
                        </div>
                    }
                </div>
                <div class="col-md-4 col-md-height">
                    <div class="navbar-collapse collapse">
                        @if (User.IsInRole("Admin"))
                        {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                                    <li><a href="#">Pending Books</a></li>
                                    <li><a href="#">Pending Schools</a></li>
                                </ul>
                            </li>
                        </ul>
                        }
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - NYBE</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
