@using Microsoft.AspNetCore.Identity
@using NYBE.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <style>
        .col-md-height {
            display: table-cell;
            float: none !important;
            vertical-align: middle;
        }
    </style>
</head>

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav navbar-nav navbar-right">
        <div class="col-md-6 col-md-height">
            <a asp-area="" asp-controller="Search" asp-action="Index" title="Search"><i class="glyphicon glyphicon-book" style="font-size:20px; color:dimgrey;"></i></a>
        </div>
        <div class="col-md-6 col-md-height">
            <div class="dropdown">
                <div class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-cog" style="font-size:20px;color:dimgrey;"><i class="caret"></i></span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" style="background-color:transparent;">Signed in as <strong>@UserManager.GetUserName(User)</strong></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a asp-area="" asp-controller="Profile" asp-action="Index" title="Manage">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Settings</a></li>
                    <li><a href="#" onclick="$('#mySubmit').click();">Log off</a></li>
                </ul>
            </div>
        </div>

        <div style="display:none;">
            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                <input id="mySubmit" type="submit" value="LogOff" class="btn btn-default navbar-btn" />
            </form>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="btn-toolbar" role="button">
            <button onclick="location.href = '/Account/Register'" class="btn btn-primary navbar-btn">Register</button>
            <button onclick="location.href = '/Account/Login'" class="btn btn-success navbar-btn">Log in</button>
        </li>
    </ul>
}
